<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Lavado</title>
</head>
<body>
    <input type="text" placeholder="Ingrese Nombre" id="nombre"><br>
    <br>
    <input type="text" placeholder="Ingrese Apellido" id="apellido"><br>
    <br>
    <input type="text" placeholder="telefono" id="telefono"><br>
    <br>
    <input type="text" placeholder="cedula" id="cedula"><br>
    <br>
    <input type="text" placeholder="Placa" id="placa"><br>
    <br>
    <select name="selectorDeReol" id="selector" style="width: 150px;">
        <li>
            <option value="normal" selected>Normal</option>
            <option value="preferencial">Preferencial</option>

        </li>
    </select><br>
    <br>
    <button onclick="registrar()">Registar</button>

</body>
<script src="../js/usuarios.js"></script>
</html>