.contenedor {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 400px;
    height: 400px;
    margin: 200px auto;
    padding: 50px;
}
#input1 {
    height: 40px;
    width: 300px;
    margin: 45px auto;


}
#input2{
    height: 40px;
    width: 300px;
    margin: 45px auto;
}
body {
    background-image: url('/pagina_ejersicios/assets/R.gif');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#boton{
    margin: 75px;
    width: 150px;

}
footer{
    text-align: center;
    color: white;
    text-justify: auto;
    height: 10px;


}
#heading {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
}